__import__('pysqlite3')
import sys
sys.modules['sqlite3'] = sys.modules.pop('pysqlite3')

pip
streamlit
langchain_community
fastapi  # FastAPI may be required by Chroma
uvicorn  # Uvicorn may be required for FastAPI
openai  # For using ChatOllama with LLMs
fastembed
pypdf
chromadb
protobuf==3.20.*
